$primary: #822af0;
$font-size-root: 0.875rem;
$container-padding-x: 3rem;
$breadcrumb-margin-bottom: 0;

@import "bootstrap";

body {
  background-color: $primary;

  aside {
    min-width: 14rem;

    .nav-link {
      color: $white !important;
      font-weight: $font-weight-semibold;

      &:hover,
      &.active {
        color: $primary !important;
      }

      &:hover {
        background-color: $gray-300;
      }

      &.active {
        background-color: $white !important;
      }
    }
  }
}
