{{page-title "TAIA Open Source"}}
{{breadcrumb "TAIA Open Source" route="index"}}

<Aside
  @title="Open Source"
  @logo="/logo.svg"
  @route="index"
>
  <Aside::Item @text="Home" @route="index" @icon="house" />
  <Aside::Item @text="Projects" @icon="pen-ruler" @route="projects" />
</Aside>

<Main>
  <Main::TopHeader>
    <BreadcrumbTrail />
  </Main::TopHeader>

  <Main::Body>
    {{outlet}}
  </Main::Body>

  <Main::Footer>
    <ExternalLink @url="https://github.com/trusted-american/open-source">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>