{{page-title "Projects"}}
{{breadcrumb "Projects"}}

<Heading @title="Projects" />

<div class="row row-cols-3 g-4">
  <div class="col">
    <Card>
      <h5 class="card-title">Design System</h5>
      <p class="card-text">Components for building robust user interfaces.</p>
      <a href="https://taia-design-system.netlify.app/" class="btn btn-primary stretched-link">Go somewhere</a>
    </Card>
  </div>
</div>